txt-invoice-files/*.csv
txt-preparse/*.csv
parsed-files/*.csv
test-file
.vscode
bin
obj
# DataCruncher # Add back if you can't write it in a way that protects the structure
DataCruncher/HiddenEnums.cs
ACCDB